127.0.0.1	localhost.localdomain   localhost
{{ dedibox_proxmox_ip_addr }}  {{ dedibox_proxmox_ip_fqdn }}  {{ dedibox_proxmox_ip_fqdn.split(".")[0] }}

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
