iscsi: {{ dedibox_rpn_san.name }}
     portal {{ dedibox_rpn_san.server }}
     target {{ dedibox_rpn_san.target }}
     content {{ dedibox_rpn_san.content if dedibox_rpn_san.content is defined else 'none' }}
{% if dedibox_rpn_san.nodes is defined %}
     nodes {{ dedibox_rpn_san.nodes }}
{% endif %}
  